<section class="all-employees">

   <div class="container">
    <h2 ><span class="title">Nos employés</span></h2>
   <div class="cards">
    <% employees.each do |employee| %>
      <div class="card card-animate shadow">
        <div class="card-gradient">
          <div class="card-avatar">
            <% if employee.avatar.key != nil %>
            <%= cl_image_tag employee.avatar.key, width: 100, height: 100, crop: :fill %>
            <% end %>
          </div>
        </div>
        <div class="card-info">
          <p class="card-job"><%= employee.job_title %></p>
          <p class="card-description"><%= employee.description %></p>

<!-- Ajout fonctionnalité rating -->
          <p>
            <% if employee.rating %>
              <%employee.rating.times do %>
                <i class="fa-solid fa-star pink"></i>
              <% end %>(<%= employee.reviews.count %>)<% end %></p>
<!-- Fin Ajout fonctionnalité rating -->



          <p class="card-price"><span class="span-pink"><%= employee.price_per_day %> €</span></p>
          <%= link_to "Plus d'informations", employee_path(employee), class:"button-pink btn-center" %>
        </div>
      </div>
      <% end %>


    </div>
    </div>

         <%= image_tag "Image1.png", class:"bottom-image" %>


</section>
