<div class="form-page">
  <div data-controller="select-image">
<div class="container flex">
<div class="form-container">
  <h2>Modifier votre employé</h2>
<%= simple_form_for(@employee) do |f| %>
  <%= f.input :first_name,input_html: { class: "input_search_form" } %>
  <%= f.input :last_name,input_html: { class: "input_search_form" }  %>
  <%= f.input :job_title,input_html: { class: "input_search_form" }  %>
  <%= f.input :description,input_html: { class: "input_search_form" }  %>
  <%= f.input :price_per_day,input_html: { class: "input_search_form" }  %>
  <%= f.input :avatar, as: :file %>
  <div data-select-image-target="displayElement" class="">
  </div>
  <%= f.submit "Valider",  class: "button-search-employee"  %>
<% end %>
</div>

  <div class="form-avatar">
    <div class="form-avatar-container">
      <h2>Choisissez votre avatar</h2>
      <div class="form-avatars-circle">
        <div data-action="click->select-image#pick">
          <div class="card-avatar">
                <%= cl_image_tag "yc7a35oixs89le9n9m2j8wjvq8h7", width: 150, height: 150, crop: :fill%>
                <%= cl_image_tag "2yo6i7ikpsthd5fq5pzd6tyx6d9t", width: 150, height: 150, crop: :fill%>
                <%= cl_image_tag "zkg2fpdzdyk5nigoy0vhc91eamgf", width: 150, height: 150, crop: :fill%>
                <%= cl_image_tag "7y89f86wo22kwjt336bi86jmoojh", width: 150, height: 150, crop: :fill%>
                <%= cl_image_tag "gb3ip6nyd6zc4tplaaaa6ryg8hyr", width: 150, height: 150, crop: :fill%>
                <%= cl_image_tag "hf462pvn41xrlcrp4vnweuud9r0w", width: 150, height: 150, crop: :fill%>
                <%= cl_image_tag "ct2krr5rmrnpwyam554qhwgvyoju", width: 150, height: 150, crop: :fill%>
                <%= cl_image_tag "hagr75c01lvw7pvmldln39l8281k", width: 150, height: 150, crop: :fill%>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%# <script>
        const avatar = document.querySelector(".avatar-circle")
        const container = document.querySelector(".form-avatars-circle")
        for (let i = 0; i < 12; i++) {
          const newAvatar = avatar.cloneNode(true);
          container.append(newAvatar);
        }
      </script> %>

</div>
</div>
</div>
</div>

</div>
