<div class="form-page">

<div class="container flex">
<div class="form-container">
  <h2>Modifier votre employé</h2>
<%= simple_form_for(@employee) do |f| %>
  <%= f.input :first_name,input_html: { class: "input_search_form" } %>
  <%= f.input :last_name,input_html: { class: "input_search_form" }  %>
  <%= f.input :job_title,input_html: { class: "input_search_form" }  %>
  <%= f.input :price_per_day,input_html: { class: "input_search_form" }  %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Valider",  class: "button-search-employee"  %>
<% end %>
</div>
<div class="form-avatar">
  <div class="form-avatar-container">
    <h2>Choisissez votre avatar</h2>
    <div class="form-avatars-circle">
  <div class="avatar-circle"> </div>
      <script>
        const avatar = document.querySelector(".avatar-circle")
        const container = document.querySelector(".form-avatars-circle")
        for (let i = 0; i < 12; i++) {
          const newAvatar = avatar.cloneNode(true);
          container.append(newAvatar);
        }
      </script>

</div>
</div>
</div>
</div>

</div>
