<div class="form-page">
<div data-controller="select-image">
<div class="container flex">
<div class="form-container">
  <h2>Créer votre employé</h2>
<%= simple_form_for(@employee) do |f| %>
  <%= f.error_notification %>
  <%= f.input :first_name, input_html: { class: "input_search_form" } %>
  <%= f.input :last_name, input_html: { class: "input_search_form" }  %>
  <%= f.input :job_title, input_html: { class: "input_search_form" }  %>
  <%= f.input :description, input_html: { class: "input_search_form" }  %>
  <%= f.input :price_per_day, input_html: { class: "input_search_form" }  %>
  <%= f.input :avatar, as: :hidden, input_html: {id: 'selected-image'} %>
  <div data-select-image-target="displayElement" class="">
    <div class="card-avatar">
      <%= image_tag "https://res.cloudinary.com/dvarz39fw/image/upload/v1708507330/o8ow8hfqcksnspi8lkrt.jpg", width: 150, height: 150, crop: :fill%>
    </div>
  </div>
  <%= f.button :submit, "Valider", class: "button-search-employee"  %>
  <% end %>
</div>
<div class="arrow"></div>

  <div class="form-avatar">
    <div class="form-avatar-container">
      <h2>Choisissez votre avatar</h2>
      <div class="form-avatars-circle">
        <div data-action="click->select-image#pick">
          <div class="card-avatar">
                <%= image_tag "https://res.cloudinary.com/dvarz39fw/image/upload/v1708507330/o8ow8hfqcksnspi8lkrt.jpg", width: 150, height: 150, crop: :fill%>
                <%= image_tag "https://res.cloudinary.com/dvarz39fw/image/upload/v1708508011/qunltud7i9ctrha0eht2.jpg", width: 150, height: 150, crop: :fill%>
                <%= image_tag "https://res.cloudinary.com/dvarz39fw/image/upload/v1708508011/xyzftalxipkduhr85yyk.jpg", width: 150, height: 150, crop: :fill%>
                <%= image_tag "https://res.cloudinary.com/dvarz39fw/image/upload/v1708508011/ojwxvlbutx7vrrisclm4.jpg", width: 150, height: 150, crop: :fill%>
                <%= image_tag "https://res.cloudinary.com/dvarz39fw/image/upload/v1708508011/e6w54g2pd0ilqvops64z.jpg", width: 150, height: 150, crop: :fill%>
                <%= image_tag "https://res.cloudinary.com/dvarz39fw/image/upload/v1708508011/mrsixqzi4lqxmxgxm4du.jpg", width: 150, height: 150, crop: :fill%>
                <%= image_tag "https://res.cloudinary.com/dvarz39fw/image/upload/v1708508011/vcvzgthnfo8guahny65k.jpg", width: 150, height: 150, crop: :fill%>
                <%= image_tag "https://res.cloudinary.com/dvarz39fw/image/upload/v1708508011/fv24surswbq1s1tiqnqx.jpg", width: 150, height: 150, crop: :fill%>
              </div>
            </div>
          </div>
        </div>
      </div>



      <%# <script>
        const avatar = document.querySelector(".avatar-circle")
        const container = document.querySelector(".form-avatars-circle")
        for (let i = 0; i < 12; i++) {
          const newAvatar = avatar.cloneNode(true);
          container.append(newAvatar);
        }
      </script> %>

</div>
</div>
