<div class="form-page">
  <div data-controller="select-image">
  <div class="container flex container__show">
  <div class="employee-container">
    <div class="card expand shadow ">
        <div class="card-gradient">
          <div class="card-avatar">
            <% if @employee.avatar.key != nil %>
            <%= cl_image_tag @employee.avatar.key, width: 150, height: 150, crop: :fill %>
            <% end %>
          </div>
        </div>
        <div class="card-info">
          <p class="card-job"><%= @employee.job_title %></p>
          <p class="card-name"><%= @employee.first_name %> <%= @employee.last_name %></p>
           <% if @average_rating != nil %>
            <% stars= @average_rating %>
            <% stars.times do  %>
             <i class="fa-solid fa-star pink"></i>
            <% end %>
          <% end %>
          <p class="card-description"><%= @employee.description %></p>
          <p class="card-price"> <%= @employee.price_per_day %> €</p>
          <div class="group-button input_search ">
            <input type="text" value="Quantité" class="w-100 border-pink" >
            <%= link_to "commander", employee_appointments_path(@employee,:price=>@employee.price_per_day), data: { turbo_method: "post", }, class: "card-alink" %>
          </div>
        </div>
    </div>
  </div>


  <%# <div class="panier-container"> %>
    <div class="panier-lists-orders">
      <div class="panier-lists-orders__body">
        <h6 class="title-panier">PANIER</h6>
        <div class="panier-lists-orders__employee">
          <span class="panier-lists-orders--text">Job title #1</span>
          <span class="panier-lists-orders--text">$10</span>
          <span class="panier-lists-orders--text">1</span>
          <span class="panier-lists-orders--text">$10</span>
        </div>
        <div class="panier-lists-orders__employee">
          <span class="panier-lists-orders--text">Job title #2</span>
          <span class="panier-lists-orders--text">$20</span>
          <span class="panier-lists-orders--text">2</span>
          <span class="panier-lists-orders--text">$40</span>
        </div>
      </div>
      <div class="panier-lists-orders__footer">
        <div class="panier-total-price shadow">Total price</div>
      </div>
    </div>

 </div>
  <section class="review_section" >
  <div class="container flex_review">
     <%= render "review", reviews: @reviews %>
     <%= render "review_new", employee: @employee , review: @review %>
     </div>
  </section>





</div>
