<div class="form-page">
  <div class="container flex container__show">
  <!--<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>Fiche employé</h1>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">Prénom</th>
            <td><%= @employee.first_name %></td>
          </tr>
          <tr>
            <th scope="row">Nom</th>
            <td><%= @employee.last_name %></td>
          </tr>
          <tr>
            <th scope="row">Job</th>
            <td><%= @employee.job_title %></td>
          </tr>
          <tr>
            <th scope="row">Tarif journalier</th>
            <td><%= @employee.price_per_day %></td>
          </tr>
        </tbody>
      </table>

      <%= link_to "See all employees", root_path %>
        <%= link_to "Delete", employee_path(@employee), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
        %>
    </div>
  </div> -->

  <div class="employee-container">
    <div class="card expand shadow ">
        <div class="card-gradient">
          <div class="card-avatar">
            <% if @employee.avatar.key != nil %>
            <%= cl_image_tag @employee.avatar.key, width: 150, height: 150, crop: :fill %>
            <% end %>
          </div>
        </div>
        <div class="card-info">
          <p class="card-job"><%= @employee.job_title %></p>
          <p class="card-name"><%= @employee.first_name %> <%= @employee.last_name %></p>
          <p class="card-description"><%= @employee.description %></p>
          <p class="card-price">Prix:  <%= @employee.price_per_day %></p>
          <div class="group-button input_search ">
            <input type="text" value="Quantité" class="w-100 border-pink" >
            <%= link_to "commander", employee_appointments_path(@employee,:price=>@employee.price_per_day), data: { turbo_method: "post" }, class: "card-alink" %>
          </div>
        </div>
    </div>
  </div>


  <%# <div class="panier-container"> %>
    <div class="panier-lists-orders">
      <div class="panier-lists-orders__body">
        <h6 class="title-panier">PANIER</h6>
        <div class="panier-lists-orders__employee">
          <span class="panier-lists-orders--text">Job title #1</span>
          <span class="panier-lists-orders--text">$10</span>
          <span class="panier-lists-orders--text">1</span>
          <span class="panier-lists-orders--text">$10</span>
        </div>
        <div class="panier-lists-orders__employee">
          <span class="panier-lists-orders--text">Job title #2</span>
          <span class="panier-lists-orders--text">$20</span>
          <span class="panier-lists-orders--text">2</span>
          <span class="panier-lists-orders--text">$40</span>
        </div>
      </div>
      <div class="panier-lists-orders__footer">
        <div class="panier-total-price shadow">Total price</div>
      </div>
    </div>

  <%# </div> %>
</div>
</div>
