<div class="form-page">
  <div class="container flex container__show">
  <!--<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>Fiche employé</h1>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">Prénom</th>
            <td><%= @employee.first_name %></td>
          </tr>
          <tr>
            <th scope="row">Nom</th>
            <td><%= @employee.last_name %></td>
          </tr>
          <tr>
            <th scope="row">Job</th>
            <td><%= @employee.job_title %></td>
          </tr>
          <tr>
            <th scope="row">Tarif journalier</th>
            <td><%= @employee.price_per_day %></td>
          </tr>
        </tbody>
      </table>

      <%= link_to "See all employees", root_path %>
        <%= link_to "Delete", employee_path(@employee), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
        %>
    </div>
  </div> -->

  <div class="employee-container">
    <div class="card expand shadow ">
        <div class="card-gradient">
          <div class="card-avatar"></div>
          <div class="card-first-name"><p><%= @employee.first_name %></p></div>
        </div>
        <div class="card-info">
          <p class="card-job"><%= @employee.job_title %></p>
          <p class="card-description">Description: <%= @employee.description %></p>
          <span class="card-price price-pink">Prix:  <%= @employee.price_per_day %></span>
          <div class="group-button input_search ">
            <input type="text" value="Quantité" class="w-100 border-pink" >
            <%= link_to "commander", employee_appointments_path(@employee,:price=>@employee.price_per_day), data: { turbo_method: "post" }, class: "card-alink" %>
          </div>
        </div>
    </div>
  </div>


  <%# <div class="panier-container"> %>
    <div class="panier-lists-orders">
      <h6 class="title-panier">PANIER</h6>
      <div class="panier-lists-orders__body">
        <span class="panier-lists-orders--text">Job title</span>
        <span class="panier-lists-orders--text">$</span>
        <span class="panier-lists-orders--text">qté</span>
        <span class="panier-lists-orders--text">$</span>
      </div>
      <div class="panier-lists-orders__footer">
        <%= image_tag "panier.png", class:"image-panier" %>
        <div class="panier-total-price shadow">Total price</div>
      </div>
    </div>

  <%# </div> %>
</div>
</div>
