<div class="form-page">
  <div data-controller="select-image">
  <div class="container flex container__show">
  <div class="employee-container">
    <div class="card expand shadow ">
        <div class="card-gradient">
          <div class="card-avatar">
            <% if @employee.avatar.key != nil %>
            <%= cl_image_tag @employee.avatar.key, width: 150, height: 150, crop: :fill %>
            <% end %>
          </div>
        </div>
        <div class="card-info">
          <p class="card-job"><%= @employee.job_title %></p>
          <p class="card-name"><%= @employee.first_name %> <%= @employee.last_name %></p>
           <% if @average_rating != nil %>
            <% stars= @average_rating %>
            <% stars.times do  %>
            <i class="fa-solid fa-star pink"></i>
            <% end %>
          <% end %>
          <p class="card-description"><%= @employee.description %></p>
          <p class="card-price"> <%= @employee.price_per_day %> €</p>
          <div class="group-button input_search ">
            <input type="text" value="Quantité" class="w-100 border-pink" >
            <%= link_to "commander", employee_appointments_path(@employee,:price=>@employee.price_per_day), data: { turbo_method: "post", }, class: "card-alink" %>
          </div>
        </div>
    </div>
  </div>


  <%# <div class="panier-container"> %>
    <div class="panier-lists-orders">
      <div class="panier-lists-orders__body">
        <div class="panier-lists-orders__employee">
          <div class="commande-orders">
      <div class="commande-orders__body ">
      <%= simple_form_for(@appointment) do |f| %>
        <%= f.input :debut_de_reservation,as: :string,input_html: { data: { controller: "datepicker" }} %>
        <%= f.input :fin_de_reservation,as: :string,input_html: { data: { controller: "datepicker" }} %>
        <%= f.label :renting_days, label: 'Nombre de jours' %>
        <%= f.input :renting_days,label: false, input_html: { class: "commande-orders__employee" } %>
        <%= f.label :total_price, label: 'Prix total' %>
        <%= f.input :total_price,readonly: true,label: false,input_html: { class: "commande-orders__employee" }  %>
      <%= f.submit "Commander",  class: "button-commande"  %>
      </div>
      <% end %>
        </div>
      </div>
      <div class="commande-orders__footer">
      </div>
    </div>

 </div>
  <section class="review_section" >
  <div class="container flex_review">
     <%= render "review", reviews: @reviews %>
     <%= render "review_new", employee: @employee , review: @review %>
     </div>
  </section>





</div>
