<section class="form-page">

   <div class="container">
    <h2 ><span class="span-pink">Liste des réservations en cours</span></h2>
   <ul>
        <li class="grid-cards-column-name">
       <p class="child-element-column-name">Début de réservation</p>
       <p class="child-element-column-name">Fin de réservation</p>
       <p class="child-element-column-name">Prénom et nom</p>
       <p class="child-element-column-name">Job</p>
       <p class="child-element-column-name">Nombre de jours</p>
       <p class="child-element-column-name">Prix total</p>

    </li>
    <% @appointments.each do |appointment| %>
    <li class="grid-cards">
       <p class="child-element">
        <% date= appointment.debut_de_reservation.to_time %>
        <%= date.strftime("Du %d %B %Y") %>
        </p>
       <p class="child-element">
        <%date= appointment.fin_de_reservation %>
        <%= date.strftime("Au %d %B %Y") %>
       </p>
       <p class="child-element"><%= appointment.employee.first_name + "  " +appointment.employee.last_name %></p>
       <p class="child-element"><%= appointment.employee.job_title %></p>
       <p class="child-element"><%= appointment.renting_days %></p>
       <p class="child-element"><%= appointment.total_price %></p>
        <%= link_to "X", appointment_path(appointment), data: { turbo_method: "delete", turbo_confirm: "Êtes-vous vraiment vraiment sur?" }, class: "cancel" %>

           </li>
      <% end %>


    </div>
    </div>
</section>
